@keyframes shake-choice-one {
  from {
    transform: scaleX(-1) translateX(100%)
      rotate(0deg);
  }

  to {
    transform: scaleX(-1) translateX(100%)
      rotate(-90deg);
  }
}

@keyframes shake-choice-two {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(-90deg);
  }
}

html, body {
  height: 100%;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Roboto Mono';
  font-size: 2rem;
  justify-content: center;
  margin: 0;
  text-align: center;
}

button {
  font-family: 'Roboto Mono';
}

#progress {
  position: absolute;
  left: 0;
  top: 10px;
  width: 100%;
}

#choice .choices {
  margin-bottom: 10px;
}

#choice .choices button {
  font-size: 3rem;
  height: 100px;
  width: 150px;
}

#choice #random {
  width: 450px;
}

#game .choices {
  display: flex;
  flex-direction: row;
  font-size: 5rem;
  justify-content: center;
}

#game .choices > div {
  animation-direction: alternate;
  animation-duration: 0.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in;
  transform-origin: bottom right;
  width: 100px;
}

#game .choices > div:first-child {
  transform: scaleX(-1) translate(100%);
}

#game .choices.thinking > div:first-child {
  animation-name: shake-choice-one;
}

#game .choices.thinking > div:last-child {
  animation-name: shake-choice-two;
}
